<form method="POST">
  <div>
    <label for="name">Nom de la pizza :</label>
    <input type="text" name="name" id="name" />
  </div>
  <div>
    <label for="description">Description de la pizza :</label>
    <textarea id="description" name="description"></textarea>
  </div>
  <div>
    <label for="price">Prix de la pizza :</label>
    <input type="money" name="price" id="price" />
  </div>
  <div>
    <label for="image">Image de la pizza :</label>
    <input type="text" name="image" id="image" />
  </div>
  <div>
    <button type="submit">Créer la pizza</button>
  </div>
</form>