{% extends 'baseAdmin.html.twig' %}

{% block subTitle %} Show {% endblock %}



{% block main %}
  <div>
    <a href="{{ path('app_admin_pizzaAdmin_list') }}">Revenir à la liste des pizzas</a>
  </div>

  <h1>{{ pizza.name }}</h1>

  <p>
    {{ pizza.description }}
  </p>

  <p>
    Prix : {{ pizza.price }} €
  </p>
{% endblock %}